.theme-toggle-container {
  width: 80px;
  height: 40px;
  padding: 5px;
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  transition: left 0.3s ease-in-out;
}

.circle.dark {
  left: calc(100% - 40px);
}

.sun {
  width: 20px;
  height: 20px;
  color: #e9b63b;
}

.moon {
  width: 20px;
  height: 20px;
  color: whitesmoke;
}
