.theme-toggle-container {
  border-radius: 999px;
  position: relative;
  background-color: #1a1a1d;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sun,
.moon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
    width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.sun {
  width: 35px;
  height: 35px;
  color: #e9b63b;
  opacity: 1;
}

.sun:hover {
  width: 40px;
  height: 40px;
}

.sun.dark {
  transform: translate(-50%, 0%);
  opacity: 0;
}

.moon {
  width: 25px;
  height: 25px;
  color: whitesmoke;
  transform: translate(-50%, 0%);
  opacity: 0;
}

.moon:hover {
  width: 30px;
  height: 30px;
}

.moon.dark {
  transform: translate(-50%, -50%);
  opacity: 1;
}
