@use "sass:map";
@use "@angular/material" as mat;

// $ syntax in SCSS denotes a variable.
$_palettes: (
  primary: (
    0: #000000,
    10: #131c2a,
    20: #283140,
    25: #333c4b,
    30: #3e4757,
    35: #4a5363,
    40: #565f6f,
    50: #6e7789,
    60: #8891a3,
    70: #a2abbe,
    80: #bec7da,
    90: #dae3f7,
    95: #ebf1ff,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #001c39,
    20: #103155,
    25: #1e3d61,
    30: #2a486d,
    35: #375479,
    40: #436086,
    50: #5c79a0,
    60: #7692bc,
    70: #90add7,
    80: #abc8f4,
    90: #d3e3ff,
    95: #ebf1ff,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #3d0700,
    20: #621000,
    25: #761600,
    30: #872108,
    35: #972d14,
    40: #a7391e,
    50: #c95134,
    60: #ea694a,
    70: #ff8b6f,
    80: #ffb4a3,
    90: #ffdad2,
    95: #ffede9,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1c19,
    20: #30312e,
    25: #3b3c39,
    30: #464744,
    35: #52534f,
    40: #5e5f5b,
    50: #777773,
    60: #91918d,
    70: #ababa7,
    80: #c7c7c2,
    90: #e3e3de,
    95: #f2f1ec,
    98: #faf9f4,
    99: #fdfcf7,
    100: #ffffff,
    4: #0d0f0c,
    6: #121411,
    12: #1f201d,
    17: #292a27,
    22: #343532,
    24: #383a36,
    87: #dbdad5,
    92: #e9e8e3,
    94: #efeee9,
    96: #f5f4ef,
  ),
  neutral-variant: (
    0: #000000,
    10: #1d1c17,
    20: #32302b,
    25: #3d3b36,
    30: #494741,
    35: #54524d,
    40: #615e58,
    50: #7a7771,
    60: #94908a,
    70: #aeaba4,
    80: #cac6bf,
    90: #e7e2da,
    95: #f5f0e8,
    98: #fef9f1,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410005,
    20: #68000c,
    25: #7b0613,
    30: #8c161d,
    35: #9d2327,
    40: #ad3031,
    50: #cf4847,
    60: #f1615e,
    70: #ff8983,
    80: #ffb3ae,
    90: #ffdad7,
    95: #ffedeb,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);

@function _high-contrast-value($light, $dark, $theme-type) {
  @if ($theme-type == light) {
    @return $light;
  }
  @if ($theme-type == dark) {
    @return $dark;
  }
  @if ($theme-type == color-scheme) {
    @return light-dark(#{$light}, #{$dark});
  }

  @error 'Unknown theme-type #{$theme-type}. Expected light, dark, or color-scheme';
}

@mixin high-contrast-overrides($theme-type) {
  @include mat.theme-overrides(
    (
      primary: _high-contrast-value(#141d2b, #eaf0ff, $theme-type),
      on-primary: _high-contrast-value(#ffffff, #000000, $theme-type),
      primary-container: _high-contrast-value(#293241, #bac3d6, $theme-type),
      on-primary-container: _high-contrast-value(#e7eeff, #030b19, $theme-type),
      inverse-primary: _high-contrast-value(#bec7da, #3f4858, $theme-type),
      primary-fixed: _high-contrast-value(#404a59, #dae3f7, $theme-type),
      primary-fixed-dim: _high-contrast-value(#2a3342, #bec7da, $theme-type),
      on-primary-fixed: _high-contrast-value(#ffffff, #000000, $theme-type),
      on-primary-fixed-variant:
        _high-contrast-value(#ffffff, #08111f, $theme-type),
      secondary: _high-contrast-value(#092d51, #e9f0ff, $theme-type),
      on-secondary: _high-contrast-value(#ffffff, #000000, $theme-type),
      secondary-container: _high-contrast-value(#2d4a70, #a7c4f0, $theme-type),
      on-secondary-container:
        _high-contrast-value(#ffffff, #000c1d, $theme-type),
      secondary-fixed: _high-contrast-value(#2d4a70, #d3e3ff, $theme-type),
      secondary-fixed-dim: _high-contrast-value(#133457, #abc8f4, $theme-type),
      on-secondary-fixed: _high-contrast-value(#ffffff, #000000, $theme-type),
      on-secondary-fixed-variant:
        _high-contrast-value(#ffffff, #001227, $theme-type),
      tertiary: _high-contrast-value(#3e0700, #ffece8, $theme-type),
      on-tertiary: _high-contrast-value(#ffffff, #000000, $theme-type),
      tertiary-container: _high-contrast-value(#641100, #ffaf9c, $theme-type),
      on-tertiary-container: _high-contrast-value(#ffe9e4, #1f0200, $theme-type),
      tertiary-fixed: _high-contrast-value(#8a240b, #ffdad2, $theme-type),
      tertiary-fixed-dim: _high-contrast-value(#661100, #ffb4a3, $theme-type),
      on-tertiary-fixed: _high-contrast-value(#ffffff, #000000, $theme-type),
      on-tertiary-fixed-variant:
        _high-contrast-value(#ffffff, #2a0300, $theme-type),
      background: _high-contrast-value(#faf9f4, #121411, $theme-type),
      on-background: _high-contrast-value(#1b1c19, #e3e3de, $theme-type),
      surface: _high-contrast-value(#faf9f4, #121411, $theme-type),
      surface-dim: _high-contrast-value(#b9b9b4, #121411, $theme-type),
      surface-bright: _high-contrast-value(#faf9f4, #4f504d, $theme-type),
      surface-container-low: _high-contrast-value(#f2f1ec, #1f201d, $theme-type),
      surface-container-lowest:
        _high-contrast-value(#ffffff, #000000, $theme-type),
      surface-container: _high-contrast-value(#e3e3de, #30312e, $theme-type),
      surface-container-high:
        _high-contrast-value(#d5d4d0, #3b3c39, $theme-type),
      surface-container-highest:
        _high-contrast-value(#c7c7c2, #464744, $theme-type),
      on-surface: _high-contrast-value(#000000, #ffffff, $theme-type),
      shadow: _high-contrast-value(#000000, #000000, $theme-type),
      scrim: _high-contrast-value(#000000, #000000, $theme-type),
      surface-tint: _high-contrast-value(#565f6f, #bec7da, $theme-type),
      inverse-surface: _high-contrast-value(#30312e, #e3e3de, $theme-type),
      inverse-on-surface: _high-contrast-value(#ffffff, #000000, $theme-type),
      outline: _high-contrast-value(#2e2c27, #f4efe8, $theme-type),
      outline-variant: _high-contrast-value(#4b4944, #c6c2bb, $theme-type),
      error: _high-contrast-value(#60000b, #ffecea, $theme-type),
      on-error: _high-contrast-value(#ffffff, #000000, $theme-type),
      error-container: _high-contrast-value(#8f191f, #ffaea8, $theme-type),
      on-error-container: _high-contrast-value(#ffffff, #220001, $theme-type),
      surface-variant: _high-contrast-value(#e7e2da, #494741, $theme-type),
      on-surface-variant: _high-contrast-value(#000000, #ffffff, $theme-type),
    )
  );
}
