@use "_theme.scss" as theme;
@use "sass:map";
@use "@angular/material" as mat;

$primary-palette: theme.$primary-palette;
$tertiary-palette: theme.$tertiary-palette;

html {
  @include mat.theme(
    (
      color: (
        primary: $primary-palette,
        tertiary: $tertiary-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html.dark-theme {
  @include mat.theme(
    (
      color: (
        primary: $primary-palette,
        tertiary: $tertiary-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
