@use "_theme.scss" as theme;
@use "sass:map";
@use "@angular/material" as mat;
@use "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

$primary-palette: theme.$primary-palette;
$tertiary-palette: theme.$tertiary-palette;

html {
  @include mat.theme(
    (
      color: (
        primary: $primary-palette,
        tertiary: $tertiary-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html.dark {
  @include mat.theme(
    (
      color: (
        primary: $primary-palette,
        tertiary: $tertiary-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Nunito";
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
